{% extends 'core/base.html' %}
{% load static %}

{% block content %}
<div class="container mt-4">
    <h2 class="mb-4">Lista de Jugadores</h2>
    <p class="text-muted">Aquí encontrarás la lista de todos los jugadores registrados en el sistema. Puedes ver sus detalles, incluyendo su alias, género, y ranking actual. Haz clic en "Ver Detalles" para obtener más información sobre un jugador específico.</p>

    <!-- Tarjetas de Jugadores -->
    <div class="row">
        {% for player in players %}
            <div class="col-md-4 mb-4">
                <div class="card">
                    {% if player.photo %}
                        <img src="{{ player.photo.url }}" class="card-img-top" alt="{{ player.first_name }} {{ player.last_name }}">
                    {% else %}
                        <img src="{% static 'players/images/default/player.png' %}" class="card-img-top" alt="Jugador Predeterminado">
                    {% endif %}
                    <div class="card-body">
                        <h5 class="card-title">{{ player.first_name }} {{ player.last_name }}</h5>
                        <p class="card-text text-muted">{% if player.alias %}{{ player.alias }}{% endif %}</p>
                        <p class="card-text text-muted">{{ player.get_gender_display }}</p>
                        <p class="card-text">Ranking: {{ player.ranking }}</p>
                        <a href="{% url 'players:player_detail' player.id %}" class="btn btn-primary">Ver Detalles</a>
                    </div>
                </div>
            </div>
        {% endfor %}
    </div>

    <!-- Controles de Paginación -->
    <div class="pagination">
        <span class="step-links">
            {% if players.has_previous %}
                <a href="?page=1">&laquo; primero</a>
                <a href="?page={{ players.previous_page_number }}">anterior</a>
            {% endif %}

            <span class="current">
                Página {{ players.number }} de {{ players.paginator.num_pages }}.
            </span>

            {% if players.has_next %}
                <a href="?page={{ players.next_page_number }}">siguiente</a>
                <a href="?page={{ players.paginator.num_pages }}">último &raquo;</a>
            {% endif %}
        </span>
    </div>
</div>
{% endblock %}
