{% extends 'base.html' %}

{% block content %}
<h2>{{ player.first_name }} {{ player.last_name }}</h2>
{% if player.photo %}
  <img src="{{ player.photo.url }}" alt="{{ player.first_name }} {{ player.last_name }}" class="img-thumbnail" style="max-width: 200px;">
{% endif %}
<p><strong>Date of Birth:</strong> {{ player.date_of_birth }}</p>
<p><strong>Nationality:</strong> {{ player.nationality }}</p>
<p><strong>Ranking:</strong> {{ player.ranking }}</p>
<a class="btn btn-secondary" href="{% url 'player_list' %}">Back to List</a>
{% endblock %}
