{% extends 'core/base.html' %}
{% load static %}

{% block title %}Inicio - Clasificación de Tenis de Mesa{% endblock %}

{% block hero %}
    <div class="jumbotron text-center">
        <h1 class="display-4 text-white">Bienvenido al Sistema de Clasificación de Tenis de Mesa</h1>
        <p class="lead">Sigue el rendimiento de los jugadores y consulta las últimas clasificaciones.</p>
        <p>
            <a class="btn btn-primary btn-lg" href="{% url 'players:player_list' %}" role="button">Ver Jugadores</a>
            <a class="btn btn-primary btn-lg" href="{% url 'matches:match_list' %}" role="button">Ver Partidos</a>
        </p>
    </div>
{% endblock %}

{% block content %}
    <div id="topPlayersCarousel" class="carousel slide rounded" data-bs-ride="carousel" style="background-color: #333333">
        <div class="carousel-indicators">
            <button type="button" data-bs-target="#topPlayersCarousel" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Diapositiva 1"></button>
            <button type="button" data-bs-target="#topPlayersCarousel" data-bs-slide-to="1" aria-label="Diapositiva 2"></button>
            <button type="button" data-bs-target="#topPlayersCarousel" data-bs-slide-to="2" aria-label="Diapositiva 3"></button>
        </div>

        <!-- título del Spotlight -->
        <div class="d-flex align-items-center mb-3 mb-md-0 me-md-auto link-body-emphasis text-decoration-none">
            <img src="{% static 'core/images/logo-white-48.png' %}"
                alt="uwu"
                style="width: 100px; height: 60px; object-fit: contain;">
            <div class="col-12 title text-white" style="margin-top: -10px; font-size: 2.5rem;">Spotlight</div>
        </div>

        <div class="carousel-inner" style="padding-bottom: 4%; padding-left: 10%; padding-right: 10%; padding-top: 3%;">
            {% for player in top %}
                <div class="carousel-item {% if forloop.counter == 1 %}active{% endif %} text-white">
                    <div class="row m-0 featured-player-card common-shadow">

                        <div class="col-md-4 col-sm-12">
                            <img src="{% if player.photo %}{{ player.photo.url }}{% else %}{% static 'players/images/default/player.png' %}{% endif %}"
                                 class="player-headshot-img img-fluid"
                                 alt="Imagen del Jugador"
                                style="margin-left: 5%"
                            >
                        </div>
                        <div class="col-md-8 col-sm-12 custom-margin">
                            <div class="row" style="padding-bottom: 10%">
                                <div class="col-12 mb-3">
                                    <span class="bigbolder" style="font-size: 3rem">{{ player.first_name }} {{player.last_name}}</span><br>
                                    <span class="text-white fs-6 fst-italic">{% if player.alias %}{{ player.alias }}{%endif%}</span>
                                </div>
                                    <div class="col-md-6">
                                        <span class="thinlabeler d-block">Clasificación</span>
                                        <span style="font-size: 5rem; font-weight: 300;">
                                            <span class="bigbolder">#{{ forloop.counter }}</span>
                                        </span>
                                    </div>
                                    <div class="col-md-6" style="border-left: 1px solid #fff;">
                                        <span class="custom-span-details-card bold">
                                            {% if player.nationality %}
                                                <img src="https://flagsapi.com/{{ player.nationality }}/flat/32.png"
                                                     alt="Bandera de {{ player.get_nationality_display }}"
                                                     class="img-fluid">
                                                {{ player.get_nationality_display }}
                                            {% else %}
                                                <span class="text-muted">N/D</span>
                                            {% endif %}
                                        </span><br>
                                        {% if player.age%}
                                            <span class="thinlabeler">Edad</span>
                                            <span class="thickmedium">
                                            &nbsp;{{ player.age }}
                                            </span><br>
                                        {% endif %}
                                    </div>
                            </div>
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>

        <button class="carousel-control-prev" type="button" data-bs-target="#topPlayersCarousel" data-bs-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Anterior</span>
        </button>
        <button class="carousel-control-next" type="button" data-bs-target="#topPlayersCarousel" data-bs-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Siguiente</span>
        </button>
    </div>

    <!-- Spotlight winrate -->
    <div class="container my-4 text-center rounded" style="background-color: #007f3d">
        <h2 class="text-white mb-4">Jugadores Play2Win</h2>
        <p class="lead text-white">Estos jugadores se destacan por su winrate, ganándose el título de "Play2Win", jugar para ganar</p>
        <div class="row justify-content-center">
            {% for player in top_by_winrate %}
                <div class="col-md-4 col-sm-6 mb-4">
                    <div class="card bg-dark text-white h-100 shadow-sm">
                        <img src="{% if player.photo %}{{ player.photo.url }}{% else %}{% static 'players/images/default/player.png' %}{% endif %}"
                             class="card-img-top"
                             alt="{{ player.first_name }} {{ player.last_name }}"
                             style="object-fit: cover; height: 200px;">
                        <div class="card-body p-3">
                            <h3 class="card-title mb-2">{{ player.first_name }} {{ player.last_name }}</h3>
                            <p class="card-text small mb-2">
                                {%if player.alias %}{{ player.alias }}<br>{%endif%}
                                <strong>Partidos Jugados:</strong> {{ player.matches_played }}<br>
                                <strong>Winrate:</strong> {{ player.winrate }}%
                            </p>
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>



    <!-- Tabla de jugadores   -->
    <div class="container my-4">
    <h2 class="text-center">Top 20 Jugadores</h2>
    <div class="table-responsive">
        <table class="table table-hover table-bordered align-middle" style="min-width: 600px;">
            <thead class="table-dark">
                <tr>
                    <th scope="col">Posición</th>
                    <th scope="col">Jugador</th>
                    <th scope="col">Nacionalidad</th>
                    <th scope="col">Puntos</th>
                    <th scope="col">Partidos</th>
                    <th scope="col">Victorias</th>
                    <th scope="col">%Victorias</th>
                </tr>
            </thead>
            <tbody>
                {% for player in ranking %}
                    <tr>
                        <td class="rank text-center">{{ forloop.counter }}</td>
                        <td class="d-flex align-items-center">
                            <a class="d-flex align-items-center mb-3 mb-md-0 me-md-auto link-body-emphasis text-decoration-none"
                               href="{% url 'players:player_detail' player.id %}">
                                <img src="{% if player.photo %}{{ player.photo.url }}{% else %}{% static 'players/images/default/player.png' %}{% endif %}"
                                     alt="{{ player.first_name }} {{ player.last_name }}"
                                     class="rounded-circle img-fluid me-2"
                                     style="width: 50px; height: 50px; object-fit: cover;">
                                <div class="overflow-hidden">
                                    <strong class="d-block fs-6 fs-md-4 fs-lg-5">{{ player.first_name }} {{ player.last_name }}</strong>
                                    <div class="text-muted fs-6">{% if player.alias %}{{ player.alias }}{%endif%}</div>
                                </div>
                            </a>
                        </td>
                        <td class="text-center">
                            {% if player.nationality %}
                                <img src="https://flagsapi.com/{{ player.nationality }}/flat/32.png"
                                     alt="Bandera de {{ player.get_nationality_display }}"
                                     class="img-fluid me-1">
                                {{ player.get_nationality_display }}
                            {% else %}
                                <span class="text-muted">N/D</span>
                            {% endif %}
                        </td>
                        <td class="text-center">{{ player.ranking }}</td>
                        <td class="text-center">{{ player.matches_played }}</td>
                        <td class="text-center">{{ player.victories }}</td>
                        <td class="text-center">{{ player.winrate }}%</td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
        <div class="container my-5">
            <h2 class="text-center">Sobre el sistema de Clasificación</h2>
            <p class="lead text-center">
                Nuestro sistema de clasificación de tenis de mesa está diseñado para ofrecer una representación precisa
                y dinámica del rendimiento de los jugadores a lo largo del tiempo. Cada jugador acumula puntos en
                función de los resultados de sus victorias.
            </p>
            <p class="text-center">
                Ya sean principiantes, avanzados o profesionales todos pueden participar de nuestro grupo y ser
                registrado/a en nuestra clasificación.
                La clasificación se actualiza diariamente, sean en los partidos de 12m a 1:00pm o en algún partido donde
                hayan testigos partes del grupo.
            </p>
            <h3 class="text-center">
                Temporada actual
            </h3>
            <p class="lead text-center">
                La temporada actual empezó lunes 5 de agosto, se otorgan 2 puntos por cada victoria y las derrotas no
                restan puntos a los participantes.
            </p>
        </div>
    </div>
</div>

{% endblock %}

{% block scripts %}
    <script></script>
{% endblock %}
