{% extends 'core/base.html' %}
{% load static %}

{% block title %}Home - Table Tennis Ranking{% endblock %}

{% block hero %}
    <div class="jumbotron text-center">
        <h1 class="display-4 text-white">Welcome to the Table Tennis Ranking System</h1>
        <p class="lead">Track player performances and see the latest rankings.</p>
        <p>
            <a class="btn btn-primary btn-lg" href="{% url 'players:player_list' %}" role="button">View Players</a>
            <a class="btn btn-primary btn-lg" href="{% url 'matches:match_list' %}" role="button">View Matches</a>
        </p>
    </div>
{% endblock %}

{% block content %}
    <div id="topPlayersCarousel" class="carousel slide" data-bs-ride="carousel" style="background-color: #333333">
        <div class="carousel-indicators">
            <button type="button" data-bs-target="#topPlayersCarousel" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
            <button type="button" data-bs-target="#topPlayersCarousel" data-bs-slide-to="1" aria-label="Slide 2"></button>
            <button type="button" data-bs-target="#topPlayersCarousel" data-bs-slide-to="2" aria-label="Slide 3"></button>
        </div>

        <!-- spotlight title -->
        <div class="d-flex align-items-center mb-3 mb-md-0 me-md-auto link-body-emphasis text-decoration-none">
            <img src="{% static 'core/images/logo-white-48.png' %}"
                alt="uwu"
                style="width: 100px; height: 60px; object-fit: contain;">
            <div class="col-12 title text-white" style="margin-top: -10px; font-size: 2.5rem;">Spotlight</div>
        </div>

        <div class="carousel-inner" style="padding-bottom: 10%">
            {% for player in top %}
                <div class="carousel-item {% if forloop.counter == 1 %}active{% endif %} text-white">
                    <div class="row m-0 featured-player-card common-shadow">


                        <div class="col-md-4 col-sm-12">
                            <img src="{% if player.photo %}{{ player.photo.url }}{% else %}{% static 'players/images/default/player.png' %}{% endif %}"
                                 class="player-headshot-img img-fluid"
                                 alt="Player image"
                                style="margin-left: 7%"
                            >
                        </div>
                        <div class="col-md-8 col-sm-12 custom-margin">
                            <div class="row" style="padding-bottom: 10%">
                                <div class="col-12 mb-3">
                                    <span class="bigbolder" style="font-size: 3rem">{{ player.first_name }} {{player.last_name}}</span><br>
                                    <span class="text-white fs-6 fst-italic">{% if player.alias %}{{ player.alias }}{%endif%}</span>
                                </div>
                                    <div class="col-md-6">
                                        <span class="thinlabeler d-block">Ranking</span>
                                        <span style="font-size: 5rem; font-weight: 300;">
                                            <span class="bigbolder">#{{ forloop.counter }}</span>
                                        </span>
                                    </div>
                                    <div class="col-md-6" style="border-left: 1px solid #fff;">
                                        <span class="custom-span-details-card bold">
                                            {% if player.nationality %}
                                                <img src="https://flagsapi.com/{{ player.nationality }}/flat/32.png"
                                                     alt="{{ player.get_nationality_display }} flag"
                                                     class="img-fluid">
                                                {{ player.get_nationality_display }}
                                            {% else %}
                                                <span class="text-muted">N/A</span>
                                            {% endif %}
                                        </span><br>
                                        {% if player.age%}
                                            <span class="thinlabeler">Age</span>
                                            <span class="thickmedium">
                                            &nbsp;{{ player.age }}
                                            </span><br>
                                        {% endif %}
                                    </div>
                            </div>
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>

        <button class="carousel-control-prev" type="button" data-bs-target="#topPlayersCarousel" data-bs-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Previous</span>
        </button>
        <button class="carousel-control-next" type="button" data-bs-target="#topPlayersCarousel" data-bs-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Next</span>
        </button>
    </div>

    <div class="container my-4">
    <h2 class="text-center">Top 20 Players</h2>
    <div class="table-responsive">
        <table class="table table-hover table-bordered align-middle" style="min-width: 600px;">
            <thead class="table-dark">
                <tr>
                    <th scope="col">Rank</th>
                    <th scope="col">Player</th>
                    <th scope="col">Nationality</th>
                    <th scope="col">Points</th>
                </tr>
            </thead>
            <tbody>
                {% for player in ranking %}
                    <tr>
                        <td class="rank text-center">{{ forloop.counter }}</td>
                        <td class="d-flex align-items-center">
                            <a class="d-flex align-items-center mb-3 mb-md-0 me-md-auto link-body-emphasis text-decoration-none"
                               href="{% url 'players:player_detail' player.id %}"
                                style="">
                                <img src="{% if player.photo %}{{ player.photo.url }}{% else %}{% static 'players/images/default/player.png' %}{% endif %}"
                                     alt="{{ player.first_name }} {{ player.last_name }}"
                                     class="rounded-circle img-fluid me-2"
                                     style="width: 50px; height: 50px; object-fit: cover;">
                                <div class="overflow-hidden">
                                    <strong class="d-block fs-6 fs-md-4 fs-lg-5">{{ player.first_name }} {{ player.last_name }}</strong>
                                    <div class="text-muted fs-6">{% if player.alias %}{{ player.alias }}{%endif%}</div>
                                </div>
                            </a>
                        </td>
                        <td class="text-center">
                            {% if player.nationality %}
                                <img src="https://flagsapi.com/{{ player.nationality }}/flat/32.png"
                                     alt="{{ player.get_nationality_display }} flag"
                                     class="img-fluid me-1">
                                {{ player.get_nationality_display }}
                            {% else %}
                                <span class="text-muted">N/A</span>
                            {% endif %}
                        </td>
                        <td class="text-center">{{ player.ranking }}</td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</div>

{% endblock %}

{% block scripts %}
    <script></script>
{% endblock %}