{% extends 'admin_panel/base.html' %}
{% load static %}

{% block content %}
<div class="container mt-4">
    <h2 class="mb-4">
        {% if form.instance.pk %}
            Edit Player
        {% else %}
            Add New Player
        {% endif %}
    </h2>
    <form method="post" enctype="multipart/form-data">
        {% csrf_token %}
        {{ form.as_p }}
        <button type="submit" class="btn btn-primary">Save</button>
    </form>
    <a class="btn btn-secondary mt-3" href="{% url 'admin_panel:player_list' %}">Back to List</a>
</div>
{% endblock %}
