{% extends 'admin_panel/base.html' %}

{% block content %}
<div class="container mx-auto px-4 py-8">
    <h2 class="text-3xl font-bold mb-6">Confirmar Eliminación</h2>
    <div class="bg-yellow-100 border-l-4 border-yellow-500 text-yellow-700 p-4 mb-6" role="alert">
        <p class="font-bold">Advertencia</p>
        <p>¿Está seguro de que desea eliminar el perfil de <strong>{{ player.first_name }} {{ player.last_name }}</strong>?</p>
    </div>
    <form method="post" class="flex justify-end">
        {% csrf_token %}
        <button type="submit" class="bg-red-500 text-white px-6 py-3 rounded hover:bg-red-600">Confirmar</button>
        <a class="bg-gray-300 text-black px-6 py-3 rounded hover:bg-gray-400 ml-4" href="{% url 'admin_panel:player_list' %}">Cancelar</a>
    </form>
</div>
{% endblock %}