{% extends 'admin_panel/base.html' %}
{% load static %}

{% block content %}
<div class="container mx-auto px-4 py-8">
    <h2 class="text-3xl font-bold mb-6">
        {% if form.instance.pk %}
            Editar Jugador
        {% else %}
            Añadir Nuevo Jugador
        {% endif %}
    </h2>
    <form method="post" enctype="multipart/form-data" class="bg-white p-8 rounded-lg shadow-md">
        {% csrf_token %}
        {{ form.as_p }}
        <button type="submit" class="bg-blue-500 text-white px-6 py-3 rounded hover:bg-blue-600">Guardar</button>
        <a class="bg-gray-300 text-black px-6 py-3 rounded hover:bg-gray-400 ml-4" href="{% url 'admin_panel:player_list' %}">Volver a la Lista</a>
    </form>
</div>
{% endblock %}