/* Primary Colors */
:root {
    --primary-color: #007f3d; /* Green */
    --secondary-color: #004d00; /* Darker Green */
    --accent-color: #ffffff; /* White */
    --text-color: #333333; /* Dark Gray for Text */
    --border-color: #e0e0e0; /* Light Gray for Borders */
}

/* Apply primary and secondary colors to the header and footer */
header {
    background-color: var(--primary-color);
    color: var(--accent-color);
}

.footer {
    background-color: var(--primary-color);
    color: var(--accent-color);
    text-align: center;
    padding: 1rem;
    position: fixed;
    bottom: 0;
    width: 100%;
}

/* Navbar custom styles */
.navbar {
    background-color: var(--primary-color); /* Set background color */
}

.nav-link {
    color: var(--accent-color); /* Set text color */
}

.nav-link.active {
    border-bottom: 2px solid;
    color: var(--accent-color);
    border-radius: 2px;
}

.nav-link:hover {
    color: var(--primary-color); /* Change text color on hover */
    background-color: rgba(255, 255, 255, 0.1); /* Slight background color on hover */
}

/* Hero Section */
.hero-section {
    background: var(--primary-color); /* Background color for hero section */
    color: var(--accent-color);
    padding: 2rem 0;
    text-align: center;
    margin-bottom: 2rem;
}

/* Main Content Area */
main {
    padding: 2rem;
    margin-bottom: 4rem; /* Ensure space for the footer */
}

/* Container */
.container {
    width: 100%;
    margin: auto;
    padding: 2rem;
}

/* Headings */
h1, h2, h3, h4, h5, h6 {
    color: var(--text-color);
    margin-top: 0;
}

h1 {
    border-bottom: 2px solid var(--primary-color);
    padding-bottom: 0.5rem;
}

/* Buttons */
.btn-primary {
    background-color: var(--primary-color);
    border: none;
    color: var(--accent-color);
}

.btn-primary:hover {
    background-color: var(--secondary-color);
}

/* Additional Styling for Links and Cards */
a {
    color: var(--primary-color);
    font-weight: bold;
}

a:hover {
    color: var(--secondary-color);
    text-decoration: none;
}

.card {
    border: 1px solid var(--border-color);
    border-radius: 0.5rem;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    margin-bottom: 2rem;
}

.card-header {
    background: var(--primary-color);
    color: var(--accent-color);
    padding: 1rem;
    font-size: 1.25rem;
}

.card-body {
    padding: 1rem;
}

/* SPECIFIC STYLES */

#nav-header {
    background-color: var(--secondary-color);
}

.text-white {
    color: #FFFFFF;
}