{% extends 'admin_panel/base.html' %}
{% load static %}

{% block content %}
<div class="container mx-auto px-4 py-8">
    <h2 class="text-3xl font-bold mb-6">Agregar Partido</h2>

    <form method="get" action="{% url 'admin_panel:match_add' %}" class="bg-white p-8 rounded-lg shadow-md mb-6">
        {% csrf_token %}
        <div class="mb-6">
            <label for="match_type" class="block text-lg font-semibold mb-2">Tipo de Partido:</label>
            <select name="match_type" id="match_type" class="w-full p-4 border border-gray-300 rounded-md" onchange="this.form.submit()">
                <option value="">Seleccione el tipo de partido</option>
                <option value="S" {% if request.GET.match_type == 'S' %}selected{% endif %}>Individuales</option>
                <option value="D" {% if request.GET.match_type == 'D' %}selected{% endif %}>Dobles</option>
            </select>
        </div>
    </form>

    {% if request.GET.match_type %}
    <form method="post" class="bg-white p-8 rounded-lg shadow-md">
        {% csrf_token %}
        {% if request.GET.match_type == 'S' %}
            {{ form_singles.as_p }}
        {% elif request.GET.match_type == 'D' %}
            {{ form_doubles.as_p }}
        {% endif %}
        <button type="submit" class="bg-blue-500 text-white px-6 py-3 rounded hover:bg-blue-600">Guardar</button>
    </form>
    {% endif %}
    <a href="{% url 'admin_panel:match_list' %}" class="bg-gray-300 text-black px-6 py-3 rounded hover:bg-gray-400 mt-4 inline-block">Volver a la lista</a>
</div>
{% endblock %}