{% extends 'core/base.html' %}
{% load static %}

{% block content %}
<div class="container mt-4">
    <h2 class="mb-4">{{ player.first_name }} {{ player.last_name }}</h2>
    <div class="row">
        <div class="col-md-4">
            {% if player.photo %}
                <img src="{{ player.photo.url }}" alt="{{ player.first_name }} {{ player.last_name }}" class="img-fluid img-thumbnail" style="max-width: 100%; height: auto;">
            {% else %}
                <img src="{% static 'default_player_photo.jpg' %}" alt="Default Player Photo" class="img-fluid img-thumbnail" style="max-width: 100%; height: auto;">
            {% endif %}
        </div>
        <div class="col-md-8">
            <dl class="row">
                <dt class="col-sm-4">Date of Birth:</dt>
                <dd class="col-sm-8">{{ player.date_of_birth }}</dd>
                <dt class="col-sm-4">Nationality:</dt>
                <dd class="col-sm-8">{{ player.nationality }}</dd>
                <dt class="col-sm-4">Ranking:</dt>
                <dd class="col-sm-8">{{ player.ranking }}</dd>
            </dl>
            <a class="btn btn-secondary mt-3" href="{% url 'player_list' %}">Back to List</a>
        </div>
    </div>
</div>
{% endblock %}
