/* Primary Colors */
:root {
    --primary-color: #007f3d; /* Green */
    --secondary-color: #004d00; /* Darker Green */
    --accent-color: #ffffff; /* White */
    --text-color: #333333; /* Dark Gray for Text */
    --border-color: #e0e0e0; /* Light Gray for Borders */
}

/* Style for WebKit browsers (Chrome, Safari) */
body::-webkit-scrollbar {
    width: 12px; /* Width of the scrollbar */
}

body::-webkit-scrollbar-track {
    background: #f1f1f1; /* Background of the scrollbar track */
}

body::-webkit-scrollbar-thumb {
    background-color: #888; /* Color of the scrollbar thumb */
    border-radius: 6px; /* Roundness of the scrollbar thumb */
    border: 3px solid #f1f1f1; /* Space around the scrollbar thumb */
}

body::-webkit-scrollbar-thumb:hover {
    background-color: #555; /* Color of the scrollbar thumb when hovered */
}

/* Style for Firefox */
body {
    scrollbar-width: thin; /* Width of the scrollbar */
    scrollbar-color: #888 #f1f1f1; /* Thumb color and track color */
}


/* Apply primary and secondary colors to the header and footer */
header {
    background-color: var(--primary-color);
    color: var(--accent-color);
}

.footer {
    background-color: var(--primary-color);
    color: var(--accent-color);
    text-align: center;
    bottom: 0;
    width: 100%;
    margin-bottom: 0;
}

/* Navbar custom styles */
.navbar {
    background-color: var(--primary-color); /* Set background color */
}

.nav-link {
    color: var(--accent-color); /* Set text color */
}

.nav-link.active {
    border-bottom: 2px solid;
    color: var(--accent-color);
    border-radius: 2px;
}

.nav-link:hover {
    color: var(--primary-color); /* Change text color on hover */
    background-color: rgba(255, 255, 255, 0.1); /* Slight background color on hover */
}

/* Hero Section */
.hero-section {
    background: var(--primary-color); /* Background color for hero section */
    color: var(--accent-color);
    padding: 2rem 0;
    text-align: center;
    margin-bottom: 2rem;
}

/* Main Content Area */
main {
    padding: 2rem;
    margin-bottom: 4rem; /* Ensure space for the footer */
}

/* Container */
.container {
    margin: auto;
    padding: 2rem;
}

/* Headings */
h1, h2, h3, h4, h5, h6 {
    color: var(--text-color);
    margin-top: 0;
}

h1 {
    border-bottom: 2px solid var(--primary-color);
    padding-bottom: 0.5rem;
}

/* Buttons */
.btn-primary {
    background-color: var(--primary-color);
    border: none;
    color: var(--accent-color);
}

.btn-primary:hover {
    background-color: var(--secondary-color);
}

/* Additional Styling for Links and Cards */
a {
    color: var(--primary-color);
    font-weight: bold;
}

a:hover {
    color: var(--secondary-color);
    text-decoration: none;
}

.card {
    border: 1px solid var(--border-color);
    border-radius: 0.5rem;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    margin-bottom: 2rem;
}

.card-header {
    background: var(--primary-color);
    color: var(--accent-color);
    padding: 1rem;
    font-size: 1.25rem;
}

.card-body {
    padding: 1rem;
}

/* SPECIFIC STYLES */

#nav-header {
    background-color: var(--secondary-color);
}

.text-white {
    color: #FFFFFF;
}

.spotlight {
    background: #FFFFFF;
}

/* ANNOUNCEMENT BAR */
.announcement-bar {
    width: 100%;
    background-color: #333333;
    color: white;
    overflow: hidden;
    white-space: nowrap;
    box-sizing: border-box;
    padding: 10px 0;
    font-size: 1.2rem;
    position: relative;
}

.announcement-text-wrapper {
    display: inline-flex; /* Use inline-flex to keep texts in a row */
    white-space: nowrap;
    animation: scroll-left 8s linear infinite;
}

.announcement-text {
    display: inline-block;
    /*padding-right: 100px; !* Gap between repeated texts *!*/
}

/* Keyframes for the scrolling effect */
@keyframes scroll-left {
    from {
        transform: translateX(-450%);
    }
    to {
        transform: translateX(450%);
    }
}
