{% extends 'admin_panel/base.html' %}

{% block content %}
    <div class="px-20">
        <h1 class="text-3xl font-bold mb-6">Lista de Temporadas</h1>
        <div class="mb-6">
            <a href="{% url 'admin_panel:season_add' %}" class="bg-blue-500 text-white px-6 py-3 rounded hover:bg-blue-600">Crear Nueva Temporada</a>
        </div>
    </div>

    <div class="px-20"> <!-- Added padding here -->
        <table class="min-w-full bg-white border border-gray-300 rounded-lg shadow-md">
            <thead>
                <tr class="bg-gray-100">
                    <th class="py-3 px-6 text-left border-b">Nombre</th>
                    <th class="py-3 px-6 text-left border-b">Fecha de Inicio</th>
                    <th class="py-3 px-6 text-left border-b">Fecha de Fin</th>
                    <th class="py-3 px-6 text-left border-b">Acciones</th>
                </tr>
            </thead>
            <tbody>
                {% for season in seasons %}
                    <tr class="hover:bg-gray-50">
                        <td class="py-3 px-6 border-b">{{ season.name }}</td>
                        <td class="py-3 px-6 border-b">{{ season.start_date }}</td>
                        <td class="py-3 px-6 border-b">{{ season.end_date }}</td>
                        <td class="py-3 px-6 border-b">
                            <a href="{% url 'admin_panel:season_edit' season.id %}" class="bg-yellow-500 text-white px-4 py-2 rounded hover:bg-yellow-600">Editar</a>
                            <a href="{% url 'admin_panel:season_delete' season.id %}" class="bg-red-500 text-white px-4 py-2 rounded hover:bg-red-600 ml-2">Eliminar</a>
                        </td>
                    </tr>
                {% empty %}
                    <tr>
                        <td colspan="4" class="py-3 px-6 text-center border-b">No hay temporadas disponibles.</td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
{% endblock %}
