{% extends 'admin_panel/base.html' %}

{% block content %}
    <div class="px-20">
        <h1 class="text-3xl font-bold mb-6">Eliminar Temporada</h1>

        <div class="bg-white p-8 rounded-lg shadow-md mb-6">
            <p class="text-lg mb-4">¿Estás seguro de que deseas eliminar la temporada "{{ season.name }}"?</p>
            <p class="mb-6">Esta acción no se puede deshacer.</p>

            <div class="mt-8 flex justify-end">
                <form action="{% url 'admin_panel:season_delete' season.id %}" method="post">
                    {% csrf_token %}
                    <button type="submit" class="bg-red-500 text-white px-6 py-3 rounded hover:bg-red-600">Eliminar Temporada</button>
                    <a href="{% url 'admin_panel:season_list' %}" class="bg-gray-300 text-black px-6 py-3 rounded hover:bg-gray-400 ml-4">Cancelar</a>
                </form>
            </div>
        </div>
    </div>
{% endblock %}